<app-header page_href="sign-up"></app-header>
<h2>Sign up</h2>
<div>
    <span>
        <label for="enter-login">Login: </label>
        <input id="enter-login" [(ngModel)]="user.userName" placeholder="login"><br>
    </span>
    <span>
        <label for="enter-password">Password: </label>
        <input id="enter-password" [(ngModel)]="user.password" placeholder="password"><br>
    </span>
    <span>
        <label for="enter-password-repeat">Repeat password: </label>
        <input id="enter-password-reapeat" [(ngModel)]="repeat_password" placeholder="repeat password"><br>
    </span>
    <button id="button" (click)="signUp()">Sign up</button>
</div>