@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    font-family: 'Patrick Hand', cursive;
    font-size:large;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    display: flex;
}

.one {
    flex: 1 auto;
}

.two {
    flex: 1 auto;
}

.three {
    flex: 1 auto;
}

.four {
    flex: 1 auto;
}

.five {
    flex: 1 auto;

}

header button {
    margin: 1em;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: x-large;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}